---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-[#050510] font-mono h-screen w-screen overflow-hidden flex items-center justify-center relative m-0 p-0 selection:bg-cyan-500 selection:text-white">
		<canvas id="matrix-canvas" class="fixed top-0 left-0 -z-10 opacity-20 filter hue-rotate-180"></canvas>
		<div id="global-glitch-layer" class="fixed top-0 left-0 w-screen h-screen pointer-events-none z-[9999] bg-transparent"></div>
		<div class="fixed top-0 left-0 w-full h-full pointer-events-none z-0 opacity-20 bg-[url('/noise.svg')] mix-blend-overlay"></div>
		<slot />
		<style is:global>
            @tailwind base;
            @tailwind components;
            @tailwind utilities;

			:root {
				--accent: 0, 243, 255;
				--accent-light: 200, 250, 255;
				--accent-dark: 0, 50, 80;
			}

            /* Dynamic states controlled by JS */
			#global-glitch-layer.active {
                @apply bg-[rgba(0,243,255,0.05)] animate-global-flicker;
			}
			.suffering {
				@apply animate-world-shake;
			}

			::-webkit-scrollbar { width: 6px; }
			::-webkit-scrollbar-track { background: #050510; }
			::-webkit-scrollbar-thumb { background: #00f3ff; border-radius: 3px; }
		</style>
	</body>
</html>
