[tool.ruff]
# Target version
target-version = "py310"
line-length = 88

[tool.ruff.lint]
# Enable Pyflakes (F) and pycodestyle (E, W) codes by default.
select = ["E", "F", "W", "I", "N", "UP", "B", "C4", "SIM"]
ignore = []

# Allow autofix for all enabled rules (when `--fix`) is provided.
fixable = ["ALL"]
unfixable = []

[tool.ruff.lint.isort]
combine-as-imports = true
force-wrap-aliases = true

[tool.ruff.format]
quote-style = "double"
indent-style = "space"
skip-magic-trailing-comma = false
line-ending = "auto"
